PARIFLOW_FIREBASE_API_KEY=
PARIFLOW_FIREBASE_AUTH_DOMAIN=
PARIFLOW_FIREBASE_PROJECT_ID=
PARIFLOW_FIREBASE_STORAGE_BUCKET=
PARIFLOW_FIREBASE_MESSAGING_SENDER_ID=
PARIFLOW_FIREBASE_APP_ID=
PARIFLOW_FIREBASE_MEASUREMENT_ID=
PARIFLOW_ENABLE_DEV_TOKEN=false
PARIFLOW_API_BASE_URL=
